*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}
body{
    background-color: #964B00;
    color: white;
}

.task-1, .task-2, .task-3, .task-4, .task-5{
    margin: auto;
    text-align: center;
}

.task-1{
    margin-top: 50px;
    width: 500px;
}
.task-2{
    margin-top: 50px;
    width: 500px;
}
.task-3{
    margin-top: 50px;
    width: 500px;
}
.task-4{
    margin-top: 50px;
    width: 500px;
}
.task-5{
    width: 500px;
    margin-top: 50px;
}
